---
import CatSlider from "../components/CatSlider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="row no-gutters">
    <div class="col-12">
      <div class="ly-hero">
        <div class="overlay">&nbsp;</div>
        <div class="ly-hero__inner">
          <h1>
            <span>Crowdcuring</span>
            <br />
            <span class="tag">Academy</span>
          </h1>
          <a href="/"> Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <CatSlider />
</Layout>

<style is:global lang="scss">
  :root {
    --clr-primary: #653390;
    --clr-secondary: #70966e;
  }

  body {
    font-family: "Lato", Arial, sans-serif;
  }

  .ly-hero {
    position: relative;
    isolation: isolate;

    min-height: 80dvh;
    display: flex;

    isolation: isolate;

    .overlay {
      position: absolute;
      inset: 0;
      z-index: -1;

      background-image: linear-gradient(
          75deg,
          rgba(101, 51, 144, 0.4) 30%,
          rgba(101, 51, 144, 0.4) 63%
        ),
        url("/images/choice-5.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      // background-color: rgba(blue, 0.5);
      // background: ;
      // background: rgb(40,20,58);
      // background: ;
    }

    &__inner {
      margin: 0 auto;
      // border: 1px solid red;

      width: 80%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      align-self: start;
      margin-bottom: 2rem;

      font-size: 4.5rem;
      font-weight: 600;
      line-height: 1em;

      // background: rgb(116, 71, 155);
      // background: rgb(101, 51, 144);
      // background: linear-gradient(
      //   120deg,
      //   rgba(101, 51, 144, 1) 0%,
      //   rgba(112, 150, 110, 1) 25%
      // );
      // background: #fff;
      // background: linear-gradient(
      //   130deg,
      //   rgba(255 255 255 / 1) 65%,
      //   rgba(15, 179, 0) 85%
      // );

      // -webkit-background-clip: text;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;

      color: white;

      .tag {
        color: rgb(144, 252, 134);
      }
    }

    a {
      background-color: var(--clr-primary);
      color: white;

      align-self: flex-start;
      font-size: 1.125rem;
      padding: 0.5em 1.75em;
      border-radius: 0.25em;
      text-decoration: none;
      font-weight: 500;
    }
  }
  .cat-sliders {
    h3 {
      color: red;
    }
  }
</style>

<script is:inline>
const catSlider = document.querySelector("[data-catslider]");
</script>
